@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

:root {
  --color-background: #94b49f;
  --color-dark: #cee5d0;
  --color-light: #fcf8e8;
  --color-highlight: honeydew;
  --color-list-header: #ecb390;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px hotpink solid; */
}

body {
  background: var(--color-background);
  height: 100vh;
}